#footBar {
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 34px;
  font-family: koHo;
  font-weight: bold;
  overflow: hidden;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.0001)
  );
  box-shadow: 0px 0px 5px white;
  border: 1px solid white;
  backdrop-filter: blur(5px) brightness(120%);
  transition: 0.3s;
}
#footBar:hover {
  box-shadow: 0px 0px 20px white;
}
.slide {
  opacity: 0;
  transform: scale(0);
}
.social-media a {
  color: white;
  font-size: 25px;
  padding: 20px;
  padding-bottom: 34px;
}
.bottom-footer {
  margin: 0;
  width: 100%;
  position: relative;
  bottom: 0;
}
.bottom-footer section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#bottom-footer-title {
  font-size: 28px;
}
#copyright-section {
  height: 50px;
  font-size: 14px;
}
@keyframes backgroundChange {
  0% {
    box-shadow: 0px 0px 4px rgba(227, 227, 227, 0.58);
  }
  20% {
    box-shadow: 0px 0px 8px rgba(227, 227, 227, 0.58);
  }
  40% {
    box-shadow: 0px 0px 16px rgba(227, 227, 227, 0.58);
  }
  60% {
    box-shadow: 0px 0px 16px rgba(227, 227, 227, 0.58);
  }
  80% {
    box-shadow: 0px 0px 8px rgba(227, 227, 227, 0.58);
  }
}
@keyframes bounce {
  0%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-25px);
  }
  62.5% {
    transform: translateY(-10px);
  }
  82.5% {
    transform: translateY(-5px);
  }
}
